.bubble__canvas canvas {
  position: relative;
  left: 0;
  width: 50vw !important;
  height: 100vh !important;
  overflow: visible !important;
  /* margin-bottom: -10px; */
  opacity: 0.3;
}

@media (max-width: 1000px) {
  .bubble__canvas {
    display: none;
  }
}
