@import url("https://fonts.googleapis.com/css?family=Questrial");

* {
  font-family: "Questrial", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  height: 100% !important;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: Questrial, sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.App {
  background: #222;
  width: 100% !important;
  height: 100% !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  color: #61dafb;
}

#root {
  width: 100% !important;
  height: 100% !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
